<h1 class="type--bold-36 color--neutral-black">Tweets</h1>
<div class="c40__rule theme-bg-color--dark"></div>
<div *ngFor="let tweet of tweets">
  <p >
    <span class="type--roman-16 color--neutral-black">{{tweet.author}} tweeted: {{tweet.text}}</span>
    <br>
    <span class="type--roman-14 color--neutral-dark-gray">AlreadyRead: {{tweet.isRead}}</span>
  </p>


</div>

<div class="atc-button--dark">
  <a class="atc-button" (click)="play()" *ngIf="!isShownPauseResumeButton">Play this list</a>
  <a class="atc-button" *ngIf="isShownPauseResumeButton">
    <img [src]="skipBeforeButtonIconSource" alt="back" height="42" width="42">
  </a>
  <a class="atc-button" (click)="pauseOrResume()" *ngIf="isShownPauseResumeButton">
    <img [src]="pauseOrResumeButtonIconSource" alt="pauseOrResume" height="42" width="42">
  </a>
  <a class="atc-button" (click)="skip()" *ngIf="isShownPauseResumeButton">
    <img [src]="skipNextButtonIconSource" alt="skip next" height="42" width="42">
  </a>
  <a class="atc-button" *ngIf="isShownPauseResumeButton">
    <img [src]="replayButtonIconSource" alt="replay" height="42" width="42">
  </a>
  <br>
  <br>
  <a class="atc-button">
    <img [src]="volumnButtonIconSource" alt="volume" height="42" width="42">
  </a>
</div>


